@{
  Layout = "_Layout";
}
<div class="container">
  <h1>Welcome to the Animal Shelter</h1>
  <p>@Html.ActionLink("See all animals", "Index", "Animals")</p>
  <p>@Html.ActionLink("See all animal types", "Index", "Types")</p>
</div>
